!!!
%html
  %head
    %title Request Dashboard
    %meta{:name=>"viewport",:content=>"width=device-width, initial-scale=1.0"}

    <!-- The 1140px Grid -->
    %link{:rel=>"stylesheet", :href=>"stylesheets/1140.css", :type=>"text/css", :media=>"screen"}

    <!--[if lte IE 9]>
    %link{:rel=>"stylesheet", :href=>"stylesheets/ie.css", :type=>"text/css", :media=>"screen"}
    <![endif]-->

    <!-- Resets grid for mobile -->
    %link{:rel=>"stylesheet", :href=>"stylesheets/mobile.css", :media=>"handheld, only screen and (max-width: 767px)"}

    %link{:rel=>"stylesheet", :href=>"stylesheets/layout.css", :media=>"screen"}

  %body
    .container
      #header.row
        .eightcol
          %h1= @source.mtime.strftime("%d-%m-%Y")
          %p.description== Showing only http responses with status: #{@filter_for_reponses}
        .fourcol.last.viewing
          %h1 Request Dashboard
          %p.description== DB (Total rows: #{@total_rows} Processed: #{@processed})
      .row.stats
        - if @no_db_connection
          %h2 Error: No Database Connection Found

        .fourcol.stat_box
          %p.number_stat= @showing_for_requests
          %p.description requests
        - if @average_response_rate
          #average_response_rate.fourcol.stat_box
            %p.number_stat== #{(@average_response_rate * 1000).to_i}ms
            %p.description average response rate
        - if @slow_requests
          #slow_requests.fourcol.last.stat_box
            %p.number_stat= @slow_requests.size
            %p.description slow requests (>1sec)
            .breakdown
              - @slow_requests.each do |request|
                %p.description== #{request[0]} (#{request[1][:times]})
